@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$bcgr_color_0: #ffffff;
$bcgr_color_1: #e6e6e6;
$bcgr_color_2: #797979;
$bcgr_color_3: #7979792d;
$bcgr_color_hover: #7979791a;
$main_text_color: #000000;
$font-family: "Roboto", sans-serif;
